body {
		background-image: url("Images/snowfall.gif");
		background-position: center;
		background-size: cover;
		background-repeat: repeat-y;
		background-attachment: fixed;
	}
	
div {
	background-color: rgba(0, 0, 0, 0.2);
	color: rgb(255, 255, 255);
	padding: 0px auto;
	width: 550px;
	margin-left: auto;
	margin-right:auto;
}

colortext {
	-webkit-animation: color-change 3s infinite;
	-moz-animation: color-change 3s infinite;
	-o-animation: color-change 3s infinite;
	-ms-animation: color-change 3s infinite;
	animation: color-change 3s infinite;
}

@keyframes color-change {
		0% {
			color: rgb(255, 0, 0);
		}

		50% {
			color: rgb(0, 255, 0);
		}
		
		100% {
			color: rgb(255, 0, 0);
		}
}
@-webkit-keyframes color-change {
		0% {
			color: rgb(255, 0, 0);
		}

		50% {
			color: rgb(0, 255, 0);
		}
		
		100% {
			color: rgb(255, 0, 0);
		}
}
@-moz-keyframes color-change {
		0% {
			color: rgb(255, 0, 0);
		}

		50% {
			color: rgb(0, 255, 0);
		}
		
		100% {
			color: rgb(255, 0, 0);
		}
}
@-ms-keyframes color-change {
		0% {
			color: rgb(255, 0, 0);
		}

		50% {
			color: rgb(0, 255, 0);
		}
		
		100% {
			color: rgb(255, 0, 0);
		}
}
@-o-keyframes color-change {
		0% {
			color: rgb(255, 0, 0);
		}

		50% {
			color: rgb(0, 255, 0);
		}
		
		100% {
			color: rgb(255, 0, 0);
		}
}
@keyframes color-change {
		0% {
			color: rgb(255, 0, 0);
		}

		50% {
			color: rgb(0, 255, 0);
		}
		
		100% {
			color: rgb(255, 0, 0);
		}
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}